@font-face {
    font-family: JaoAmericano;
    src: url(https://midsummer-reverie.github.io/font/JaoAmericanoBold.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: JaoJune;
    src: url(https://midsummer-reverie.github.io/font/JaoJuneThin.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: JaoJune;
    src: url(https://midsummer-reverie.github.io/font/JaoJuneBold.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: JaoLukchup;
    src: url(https://midsummer-reverie.github.io/font/JaoLukchupThin.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: JaoTomatoThin;
    src: url(https://midsummer-reverie.github.io/font/JaoTomatoThin.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
}
