@font-face {
    font-family: Bebas Neue;
    src: url(https://midsummer-reverie.github.io/font/BebasNeue-Thin.otf) format(opentype);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Bebas Neue;
    src: url(https://midsummer-reverie.github.io/font/BebasNeue-Light.otf) format(opentype);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Bebas Neue;
    src: url(https://midsummer-reverie.github.io/font/BebasNeue-Regular.otf) format(opentype);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Bebas Neue;
    src: url(https://midsummer-reverie.github.io/font/BebasNeue-Bold.otf) format(opentype);
    font-weight: 500;
    font-style: normal;
}
