@font-face {
    font-family: Burgues Script Regular;
    src: url(https://midsummer-reverie.github.io/font/BurguesScriptRegular.otf) format(opentype);
    font-weight: 400;
    font-style: normal;
}
