@font-face {
    font-family: ChulaCharas;
    src: url(https://midsummer-reverie.github.io/font/ChulaCharasNewReg.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: ChulaCharas;
    src: url(https://midsummer-reverie.github.io/font/ChulaCharasNewBold.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: ChulaCharas;
    src: url(https://midsummer-reverie.github.io/font/ChulaCharasNewIta.ttf) format(truetype);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: ChulaCharas;
    src: url(https://midsummer-reverie.github.io/font/ChulaCharasNewBoldIta.ttf) format(truetype);
    font-weight: 500;
    font-style: italic;
}
