@font-face {
    font-family: THBaijam;
    src: url(https://midsummer-reverie.github.io/font/THBaijam.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: THBaijam;
    src: url(https://midsummer-reverie.github.io/font/THBaijamBold.ttf) format(truetype);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: THBaijam;
    src: url(https://midsummer-reverie.github.io/font/THBaijamItalic.ttf) format(truetype);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: THBaijam;
    src: url(https://midsummer-reverie.github.io/font/THBaijamBoldItalic.ttf) format(truetype);
    font-weight: 500;
    font-style: italic;
}
