@font-face {
    font-family: 'KhongYangKhitthueng';
    src: url(https://cdn.jsdelivr.net/gh/midsummer-reverie/font@raw/refs/heads/main/TorsilpKhongYangKhitthueng.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}
