@font-face {
    font-family: 'KhongYangKhitthueng';
    src: url(https://dl.dropbox.com/scl/fi/kmzh6vn2jcgm4mt5li8i4/TorsilpKhongYangKhitthueng.ttf?rlkey=msaryiw7ip1smazac1whlrd6d&st=1oiz19fb) format(truetype);
    font-weight: 400;
    font-style: normal;
}
