@font-face {
    font-family: 'KhongYangKhitthueng';
    src: url(https://dl.dropbox.com/scl/fi/tpadxvmyzgsloe8j9jy2l/TorsilpKhongYangKhitthueng.ttf?rlkey=c9co2uzkk4pathctwqlhnlwlf&st=ppwfvfki) format(truetype);
    font-weight: 400;
    font-style: normal;
}
